.header-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  min-height: 50px;
}

@media only screen and (max-width: 380px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
