.article-details-image {
  max-height: 350px;
  max-width: 100%;
}

.article-content {
  display: table-cell;
  vertical-align: middle;
}

.wrap {
  padding: 10px;
  border: 1px solid darkgray;
}

.article-details-card {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 950px;
  margin: 25px;
  padding: 25px;
}

@media only screen and (max-width: 480px) {
  .article-details-image {
    max-height: 150px;
    max-width: 275px;
  }

  .article-details-card {
    max-width: 350px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
  }
}
