.topNews-header {
  text-align: left;
  margin: 15px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (min-width: 380px) {
  .card-container {
    justify-content: center;
  }
}
